################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/DjayLanguage.Integration.OpenAI/obj
/DjayLanguage.Integration.OpenAI/bin/Debug/net7.0
